[submodule "RobustToolbox"]
        path = RobustToolbox
        url = https://github.com/space-wizards/RobustToolbox.git
        branch = master
[submodule "Resources/Locale/ru-RU"]
	path = Resources/Locale/ru-RU
	url = ssh://git@github.com/MaxSMokeSkaarj/SMoA-SS14-RU
